<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulator Without Graphs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Simulator Without Graphs</h1>

        <div class="buttons">
            <form action="{{ url_for('run_simulation') }}" method="post">
                <input type="hidden" name="simulation_type" value="shapes">
                <button class="button" type="submit">Drawable Shapes Simulation</button>
            </form>
            <form action="{{ url_for('run_simulation') }}" method="post">
                <input type="hidden" name="simulation_type" value="camera">
                <button class="button" type="submit">Camera Simulation</button>
            </form>
        </div>
    </div>
</body>
</html>


